# Node dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
/.next/
/out/

# Build
/build

# Local server file (ignore only server.js at project root)
server.js

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
